body {
    min-width: 320px;
    max-width: 540px;
    margin: 0 auto;
    font-size: 16px;
    font-family: -apple-system, Helvetica, sans-serif;
    line-height: 1.5;
    color: #000;
    background: #fff;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
}

a {
    text-decoration: none;
    list-style: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

div {
    /* CSS3盒子模型 */
    box-sizing: border-box;
}

.tupian {
    position: relative;
    height: 570px;
    width: 100%;
}

h2 {
    width: 80%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    color: #5f0d8d;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, .7);
}

.beij {
    width: 100%;
    height: 360px;
    background: url(../images/beijing4.jpg) no-repeat;
    background-size: 540px;
    padding-top: 10px;
}

.beij::after {
    content: '';
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    backdrop-filter: blur(2px);
}

.toupiao {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 300px;
    width: 93%;
    height: 250px;
    background-color: rgb(255, 255, 255, .9);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2)
}

.toupiao ul li {
    float: left;
    width: 33.33%;
    height: 100px;
    padding-top: 18px;
}

.toupiao ul li a {
    position: relative;
    width: 100px;
    height: 100px;
}

.mubeat {
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background: url(../images/mubeat.jpg);
    background-size: 50px;
    border-radius: 25px;
}

.toupiao ul li a span {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
}

.higher {
    background: url(../images/higher.jpg);
    background-size: 50px;
}

.IDOL {
    background: url(../images/IDOL.jpg);
    background-size: 50px;
}

.linc {
    background: url(../images/linc.jpg);
    background-size: 50px;
}

.star {
    background: url(../images/star.jpg);
    background-size: 50px;
}

.fancast {
    background: url(../images/fancast.jpg);
    background-size: 50px;
}


/* 下半部分 */

.kuangjia {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 93%;
    height: 200px;
}

.zhuyi {
    position: relative;
    flex: 1;
    height: 200px;
    width: 200px;
    background-color: pink;
    border-radius: 10px;
    background: url(../images/yuqi.jpg) no-repeat;
    background-size: 100% 200px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2)
}

.zhuyi p {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}

.zhuyi span {
    position: absolute;
    top: 138px;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    font-size: 12px;
}

.select {
    position: relative;
    flex: 1;
    height: 200px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* 让两个元素分布在上下两端 */
    align-items: center;
}

.select a {
    box-sizing: border-box;
    display: block;
    width: 170px;
    height: 90px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    position: static;
    /* 移除绝对定位 */
    transform: none;
    /* 移除变换 */
}

.select a span {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.select a p {
    font-size: 12px;
    color: red;
    font-weight: 300;
}

.dianjiqi {
    position: relative;
    width: 100%;
    height: 45px;
    transform: translateY(215px);
}

.dianjiqi a {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 93%;
    height: 100%;
    border-radius: 10px;
    line-height: 22px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    background-color: #353434;
}

.dianjiqi a p {
    font-weight: 700;
    color: #fff;
}

.dianjiqi a span {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: yellow;
}

.starshow {
    position: absolute;
    bottom: -276px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: pink;
}

.di {
    display: block;
    transform: translateY(250px);
    padding-left: 15px;

}


